:root{
  --color-background: white;
  --color-section-background: #fefbea;
  --color-buttons: #396c63;
  --color-button-hovers: #396c63c5;


  --box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

#navBar{
  width: auto;
  height: auto;
  overflow: hidden;
  background-color: #a8e89e;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
  
#navBar a {
  float: left;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  color: black;
}

#navBar a:hover{
  background-color: #83b67cf1;
}

