body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: white;
  /*background-color: #99d390;*/
 /*background-image: url(../../media/images/cover-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  font-size: 12px;
  height: 2048px;
  height: 100vh;
}
.innermargian {
  width: 60%;
  max-width: 600px;
  background-color: #fefbea;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
}
#introduction {
  color: #396c63;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
  text-align: center;
}
#mission {
  font-size: large;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 720px;
  max-height: 1024px;
  background-color: #a8e89e;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  color: #396c63;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
#inputs{
  padding: 20px;
}
.form, nutritionalInput{
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 720px;
  max-height: 1024px;
  background-color: #a8e89e;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
.formTitle {
  font-size: 32px;
  color: #396c63;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
}
.numberInputs {
  display: flex;
  width: 100%;
  gap: 10px;
}
.weightInputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 10px;
}
.form label {
  position: relative;
}

.form label .input,
#sexInput,
#goalInput,
#activityInput {
  width: calc(
    100% - 22px
  ); /*cuts out border and padding so it fits in form box */
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: none;
  border-radius: 10px;
  background-color: rgba(227, 218, 218, 0.63);
  display: flex;
  align-items: center;
  line-height: 1;
  font-size: 20px;
  color: gray;
  cursor: text;
}

#sexInput,
#goalInput,
#activityInput {
  width: 100%;
  border: none;
  cursor: pointer;
}

.formButton, #addFood, #addExercise{
  color: white;
  border: none;
  outline: none;
  background-color: #ff8b00;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}
.formButton:hover{
  background-color: #d97600;
}

#calorieFinal{
  font-size: 32px;
  margin: auto;
  text-align: center;
}
#nutritionalInput{
  background-color: #a8e89e;
  max-width: 1440px;
  width: 90%;
  max-height: 1024px;
  font-size: 32px;
  margin: auto;
  text-align: center;
  border: 2px;
  border-radius: 10px;
  padding: 5px;
  display: grid;
  justify-items: center;
}
#foodSection, #exerciseSection{
  width: 75%;
  border: black 10px;
}
#nutritionalInput button:hover{
  background-color: #d97600;
}


#caloriesLeft, .submit{
  width: calc(
    100% - 22px
  );
  height: 50px;
}
#addFood, #addExercise{
  width: calc(
    33% - 22px
  );
  height: 50px;
}
#nutritionalInput input{
  width: 100%;
  height: 30px;
  font-size: 20px;
}

