:root{
  --color-background: white;
  --color-section-background: #fefbea;
  --color-buttons: #396c63;
  --color-button-hovers: #396c63c5;


  --box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}



body {
  margin-top: 75px;
  font-family: var(--font-family);
  background-color: var(--color-background);
  font-size: 12px;
}

.innermargian {
  width: 60%;
  max-width: 600px;
  background-color: var(--color-section-background);
  padding: 50px;
  margin-top: 50px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: var(--box-shadow);
}
#introduction {
  color: #396c63;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-size: 2em;
  text-align: center;
  
}
#mission {
  font-size: large;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 720px;
  max-height: 1024px;
  background-color: #a8e89e;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  color: #396c63;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
#inputs{
  padding: 20px;
}
.form, #nutritionalInput{
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 720px;
  max-height: 1024px;
  background-color: var(--color-section-background);
  padding: 20px;
  border-radius: 20px;
  position: relative;
  color: white;
  margin-left: auto;
  margin-right: auto;
  box-shadow: var(--box-shadow);
}
.formTitle  {
  font-size: 32px;
  color: #396c63;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
}
.numberInputs {
  display: flex;
  width: 100%;
  gap: 10px;
}
.weightInputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 10px;
}
.form label {
  position: relative;
}

.form label .input,
#sexInput,
#goalInput,
#activityInput {
  width: calc(
    100% - 22px
  ); /*cuts out border and padding so it fits in form box */

  padding: 10px 10px 20px 10px;
  outline: 0;
  background-color: white;
  display: flex;
  align-items: center;
  line-height: 1;
  font-size: 20px;
  color: gray;
  cursor: text;
}

#sexInput,
#goalInput,
#activityInput {
  width: 100%;
  cursor: pointer;
}

.formButton, #addFood, #addExercise{
  color: white;
  outline: none;
  background-color: var(--color-buttons);
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
.formButton:hover{
  background-color: var(--color-button-hovers);
}

#calorieFinal{
  font-size: 32px;
  margin: auto;
  text-align: center;
}
#nutrition{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
  
}
#nutritionalInput, #loggedNutrition{
  background-color: var(--color-section-background);
  max-height: 1024px;
  font-size: 32px;
  text-align: center;
  border: 1px;
  border-radius: 10px;
  padding: 5px;
  display: grid;
  justify-items: center;
  box-shadow: var(--box-shadow);
  margin-right: 20px;
  margin-left: 20px;
  
}
#nutritionalInput{
  flex: 2;
}
#loggedNutrition{
  flex: 1; 
}
#foodSection, #exerciseSection{
  width: 75%;
}
#nutritionalInput button:hover{
  background-color: var(--color-button-hovers);
}


#caloriesLeft, .submit{
  width: calc(
    100% - 22px
  );
  height: 50px;
}
#addFood, #addExercise{
  width: calc(
    33% - 22px
  );
  height: 50px;
}
#nutritionalInput input{
  width: 100%;
  height: 20px;
  padding: 4px 6px;
  font-size: 16px;
}
#foodLog{
  width: 90%;
  min-height: 400px;
  max-height: 400px;
  overflow-y: auto;
  display: grid;
  border: 1px solid black;
  justify-content: center;
  margin: 10px;
  margin-bottom: 25px;
  margin-top: 0;
}
.food-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: darkred;
}